* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #333461;
    --secondary-text-color: #4A556C;
    --primary-color: #20AD96;
    --white-background-color: #ffffff;
    --offwhite-background-color: #FAF8F6;
    --gray-background-color: #EDEFF5;
    --heading-text-color: #041434;

}
.btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}



/* ! header section style are here  */
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 45px 0 85px;
}
.header_logo {
    display: flex;
    align-items: center;
}
.logo1 {
    position: relative;
}
.logo2 {
    position: absolute;
    left: 93px;
    top: 25px;
}
.logo-title {
    color: #333461;
    margin-left: 8px;
}
.header-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
}

.header-navigation a {
    text-decoration: none;
    color : #4A556C;
    padding: 5px;
}
.navigation-guide-btn {
    height: 40px;
    font-weight: 600;
    line-height: 18.2px;
    padding: 11px 16px;
    border-radius: 4px;
}

.navaigation-icon {
    font-size: 25px;
    display: none;
}


/* ! Hero section style are here  */
#hero {
    width: 100vw;
    height: 677px;
    background-color: var(--offwhite-background-color);
    display: flex;
    flex-direction: row;
}
.hero-left-side {
    width: 50vw;
}
.hero-left-side img {
    margin-top: 55px;
    margin-left: 34px;
}
.hero-left-side .tasks {
    width: 545px;
    height: 396px;
    margin: 85px 0 0 85px;
}

.tasks :nth-child(1) {
    color: var(--secondary-text-color);
    max-width: 360px;
    opacity: 40%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1px;
}

.tasks :nth-child(2) {
    width: 520px;
    height: 172px;
    color: var(--primary-text-color);
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -1px;
    margin-top: 6px;
    margin-bottom: 18px;
    line-height: 86.4px;
}
.tasks :nth-child(3) {
    width: 545px;
    height: 116px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: var(--secondary-text-color);
    margin-bottom: 18px;
    text-align: justify;
}
.hero-btn {
    max-width: 250px;
    max-height: 42px;
    border-radius: 10px;
    padding: 9px 45px;
    font-weight: 400;
    line-height: 24px;
}

.hero-right-side {
    width: 700px;
    position: relative;
    z-index: 1;
    
}
.frame {
    display: flex;
    max-width: 237px;
    max-height: 104px;
    background-color: white;
    margin-top: 55px;
    margin-left: 66px;
    padding: 24px;
    gap: 10px;
}
.frame > img {
    max-width: 56px;
    max-height: 56px;
}
.frame-details > h2{
    max-width: 62px;
    max-height: 32px;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: var(--primary-text-color);
}
.frame-details > p{
    font-size: 12px;
}

.hero-person-img {
    position: absolute;
    width: 462px;
    height: 603px;
    object-fit: cover; 
    object-position: 40% 0;
    top: 100px;
    left: 150px;
    z-index: -1;
}


/* ! Introduction section style are here  */

#introduction {
    max-width: 100vw;
    background-color: var(--white-background-color);
    margin-top: 14px;
    padding-bottom: 50px;
}
.introduction-top {
    display: flex;
    width: 100%;
}
.introduction-top-left{
    width: 50%;
}
.introduction-top-left > img{
    width: 101px;
    height: 17px;
    margin: 96px 0 0 150px;
}
.introduction-top-left > h2{
    width: 100%;
    padding: 32px 0 0 150px;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1px;
}
.introduction-top-right {
    width: 50%;
    padding: 129px 50px 0 74px;
}
.introduction-top-right > p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: var(--secondary-text-color);
}

.introduction-bottom {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.coaching, .consultation, .group_coaching {
    width: 380px;
    height: 328px;
    padding: 40px;
}

.coaching > h4, .consultation > h4, .group_coaching > h4{
    width: 300px;
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1px;
    margin-top: 32px;
    margin-bottom: 16px;
    color: var();
}
.coaching > p, .consultation > p, .group_coaching > p{
    width: 300px;
    height: 96px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--heading-text-color);
}


/* ! reviews section style are here  */

#reviews {
    width: 100vw;
    background-color: var(--gray-background-color);
    padding: 139px 20px 150px 125px;
}
.reviews-title {
    width: 40%;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1px;
    color: var(--primary-text-color);
}
.clients-reviews {
    margin-top: 37px;
    display: flex;
    margin-left: 2px;
    gap: 30px;
}

.client1-review, .client2-review, .client3-review {
    display: flex;
    flex-direction: column;
    background-color: var(--white-background-color);
    position: relative;
    max-width: 392px;
    padding: 48px;
    gap: 15px;
    margin-bottom: 20px;
}
.client1-review p, .client2-review p, .client3-review p {
    font-size: 24px;
    font-weight: 400;

}
#reviews {
    font-weight: 700;
}
.client1-review h3, .client2-review h3, .client3-review h3{
    font-size: 24px;
    font-weight: 700;
}
.review-profile-pic {
    width: 70px;
    height: 70px;
}

.stars {
    width: 116px;
    height: 20px;
    display: flex;
    gap: 4px;
}
.cursor-image {
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: -80px;
    left: 70%;
}
.cursor-image > img {
    width: 35px;
}
/* ! blogs section style are here  */
#blogs {
    background-color: var(--white-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}

.blogs-title {
    max-width: 680px;
    text-align: center;
    padding: 95px 20px 67px 20px;
    color: var(--primary-text-color);
}
.blogs-items {
    display: flex;
    gap: 40px;
    padding: 0 20px;
}
.blogs-title > h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
}

.blog-cart {
    max-width: 360px;
}
.blog-cart img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.blog-profile-details {
    padding: 24px 28px;
}
.blog-profile-details > h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--primary-text-color);
}
.blog-profile-details > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-text-color);
    margin-top: 10px;
}

.blog-btn {
    margin-top: 55px;
    width: 250px;
    height: 42px;
}
.blog-btn > button {
    width: 250px;
    height: 42px;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
}


/* ! Free Guide style are here  */

#free-guide {
    max-width: 100vw;
    display: flex;
    background-color: var(--white-background-color);
    /* background-color: rgb(214, 119, 163); */
    padding-bottom: 140px;
}

.free-guide-left {
    padding: 200px 115px 0 150px;
}
.free-guide-left > h2 {
    max-width: 490px;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: var(--primary-text-color);
}
.free-guide-details {
    max-width: 550px;
}
.free-guide-details :nth-child(1) {
    margin-top: 22px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    
}
.free-guide-details :nth-child(2) {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21.08px;
}
.free-guide-left > button {
    width: 250px;
    height: 42px;
    margin-top: 16px;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-background-color);
}


.free-guide-right {
    position: relative;
    margin-right: 35px;
}

.background {
    max-width: 446px;
    height: 581px;
    background-image: linear-gradient(#333461,#483D8B,#353565);
    position: relative;
    margin-top: 158px;
    z-index: 1;
    overflow: hidden;
}
.free-guide-image > img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    right: -100px;
}

.free-guide-title {
    background-color: #20AD96;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    right: -30px;
    z-index: 20;
}

.free-guide-title h4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-background-color);
}

.free-guide-heading {
    position: absolute;
    width: 218px;
    height: 244px;
    margin-top: 50.63px;
    margin-left: 38.28px;
    letter-spacing: -1px;
    z-index: 2;
}

.free-guide-heading > h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 70px;
    color: var(--white-background-color);
}

.free-guide-footer {
    position: relative;
    width: 446px;
    height: 78.81px;
    background-color: rgba(65, 58, 125, 0.3);
    top: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.free-guide-logo {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    background-color: var(--white-background-color);
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 18px solid var(--white-background-color);
    border-radius: 50%;
}

.free-guide-footer-logo-details {
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.free-guide-footer-logo-details > h3 {
    width: 140px;
    height: 11.56px;
    font-size: 11px;
    color: var(--white-background-color);
    margin-top: 10px;
}
.free-guide-footer-logo-details > p {
    font-size: 7px;
    color: var(--white-background-color);
}

/* ! Cta Style are here  */

#cta {
    max-width: 100vw;
    background-color: var(--white-background-color);
    padding: 0 0 96px 0;
}

.cta-container {
    max-width: 90%;
    margin: 0 auto;
}

.cta-content {
    max-width: 95%;
    display: flex;
    margin: 0 auto;
    background-color: var(--offwhite-background-color);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    border-radius: 24px;
    overflow: hidden;
    justify-content: space-between;
}

.cta-left-content {
    width: 50%;
    padding: 64px 0 64px 64px;
    margin: auto 0;
}
.cta-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta-details > h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.cta-details > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(74, 85, 108, 0.5);
}

.book-now-btn {
    max-width: 250px;
    height: 42px;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 24px;
}

.cta-right-content {
    width: 50%;
    height: 480px;
    overflow: hidden;
    position: relative;
}
.cta-image {
    position: absolute;
    top: 48px;
    left: 48px;
    width: 125%;
    height: 512px;
    object-fit: cover;
    border-radius: 10px;
    
}
.cta-logo-details {
    position: absolute;
    top: 68px;
    left: 68px;
    width: 84px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-background-color);
    border-radius: 6px;
    gap: 7px;
    padding: 0 15px;
}
.cta-logo {
    width: 17px;
    height: 20px;

}
.cta-logo-details p {
    width: 24px;
    height: 32px;
    font-size: 12px;
    color: #428B7F;
    display: flex;
    align-items: center;
    font-weight: 600;
}


/* ! Footer section Style are here  */

footer {
    width: 100vw;
}

.footer-top {
    width: 100%;
    padding: 48px 0 48px 0;
    background-color: var(--offwhite-background-color);
}
.footer-top-container {
    max-width: 90%;
    padding: 0 32px;
    margin: 0 auto;
}
.footer-top-content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-top-left-content {
    max-width: 738px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.footer-top-left-content > h2 {
    max-width: 100%;
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.footer-top-left-content > p {
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.footer-top-right-content {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-top-right-content :nth-child(1) {
    width: 280px;
    height: 44px;
    padding: 10px 14px;
    background-color: var(--white-background-color);
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    outline: none;
    font-family: 'Kumbh Sans', sans-serif;
}

.footer-top-right-content :nth-child(2) {
    width: 150px;
    height: 44px;
    padding: 10px 18px;
    border-radius: 8px;
}



.footer-bottom {
    max-width: 1440px;
    padding: 64px 0 48px 0;
    margin: 0 85px;
}

.footer-bottom-container {
    max-width: 1260px;
    padding: 0 22px;
}

.footer-bottom-content {
    max-width: 1216px;
    display: flex;
}

.footer-logo-and-details {
    width: 33.33%;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-logo {
    width: 165px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer-logo-image {
    position: relative;
}
.footer-logo2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 7px;
    left: 8px;
}
.footer-logo-title {
    width: 130px;
    height: 20px;
    font-size: 16px;
    font-weight: 800;
    margin: auto 0;
}
.footer-logo-details > p {
    font-size: 16px;
    font-weight: 400;
    max-width: 320px;
    opacity: 50%;
    color: var(--secondary-text-color);
}
.footer-nav {
    width: 33.33%;
    margin-right: 35px;
}
.footer-nav > h3 , .footer-contact > h3{
    width: 400px;
    height: 20px;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    margin-bottom: 16px;
}
.footer-nav-links {
    max-width: 400px;
    min-width: 190px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav-links a , .footer-contact-details > p {
    height: 24px;
    text-decoration: none;
    color: var(--secondary-text-color);
    opacity: 50%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}



.footer-contact {
    width: 33.33%;
}
.footer-contact-details {
    width: 168px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

